
.listing {
	background-color: lightblue;
}

#listGists {
	float: left;
	width: 30%;
	background-color: green;
}

.gistFile {
	border-style: solid;
	border-width: 1px;
}

#gistFiles {
	width: 60%;
	height: 900px;
	margin-left: 40%;
}

#gistSource {
	//width: 40%;
	//height: 400px;
	//margin-left: 40%;
	border-style: solid;
	border-width: 1px;
}

.singleGist {
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

.selected {
	background-color: white;
}

#loading {
	background: url(loading.gif) no-repeat center center;
	height: 90%;
	display: none;
}